*{
    padding: 0px;
    margin: 0px; 
    
}

.home{
    display: flex;
    flex-wrap: wrap;
}
.in-flex{
 flex:1;
 min-width: 250px;
 
}
.in-flex:first-child{
flex:2;
padding: 25px;
margin-bottom: 0px;
}
.in-flex div{
    padding: 25px;
}
.parrafo{
    margin: 5px; 
    font-size: 17px;
    

}