<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- index css -->
        <link rel="stylesheet" href="{% block css_style %}
        
        {% endblock css_style %}">
        <link rel="icon" href="{{ url_for('static', filename='img/icon_MediFlow.png') }}">
        <!-- Boostrap css -->
        {% block boostrapChangerCss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        {% endblock boostrapChangerCss %}
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <!-- Alerts JS -->
        <script src="{{ url_for('static', filename='js/sweetalert.js') }}"></script>
        
        
        <title>
            {% block title %}MediFlow | {% endblock title %}
        </title>

    </head>
    <body>
        {% block body_type %}<body id="top">{% endblock body_type %}

        {% block main_type %}<main>{% endblock main_type %}

        {% block header_type %}{% endblock header_type %}

        {% block main__content %}
            
        {% endblock main__content %}

        {% block flashMessages %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'success' %}
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Correcto',
                                    text: "{{message}}",
                                    showConfirmButton: true,
                                    timer: 5000
                                })
                            </script>                    
                        {% endif %}
                        {% if category == 'error' %}
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'Error',
                                    text: "{{message}}",
                                    showConfirmButton: true,
                                    timer: 5000
                                })
                            </script>                    
                        {% endif %}
                        {% if category == 'info' %}
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: 'Atencion',
                                    text: "{{message}}",
                                    showConfirmButton: true,
                                    timer: 5000
                                })
                            </script>                    
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith  %}
        {% endblock flashMessages %}

        {% block footer_type %}{% endblock footer_type %}

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <!-- jQuery lib -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- document JavaScript -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        {% block js_scripts %}{% endblock js_scripts %}
        
    </body>
</html>
