{% extends 'base.html' %}
{% block title %}
{{ super() }}
 Tabla de usuarios
{% endblock title %}
{% block header_type %}
 {% include 'headerPanelUsuario.html' %}
{% endblock header_type %}

{% block body_type %}
{% endblock body_type %}

{% block main_type %}
{{ super() }}
{% endblock main_type %}

{% block main__content %}

{% if UsuarioData %}
<script>
    $(document).ready(function(){
        $("#modalForm").modal("show");
    });
</script>
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('panel.editarUsuario', idUsuario=UsuarioData.idUsuario) }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="text" class="form-control" id="username" name="emailUsuario" placeholder="email" value="{{UsuarioData.correoUsuario}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre(s)</label>
                        <input type="text" class="form-control" id="password" name="nombreUsuario" placeholder="Nombre" value="{{UsuarioData.nombreUsuario}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido(s)</label>
                        <input type="text" class="form-control" id="password" name="apellidoUsuario" placeholder="Apellido" value="{{UsuarioData.apellidoUsuario}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="password" name="telefonoUsuario" placeholder="Telefono" value="{{UsuarioData.telefonoUsuario}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de documento</label>
                       <div class="formulario__grupo-input">
                            <select name="tipoDocumento" class="form-select " aria-label="Default select example" >
                                <option value="1">Cedula de Ciudadanía</option>
                                <option value="2">Tarjeta de identidad</option>
                                <option value="3">Pasaporte</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Numero de documento</label>
                        <input type="text" class="form-control" name="documentoUsuario" placeholder="Documento" value="{{UsuarioData.numeroDocumento}}"/>
                    </div>
                   <div class="mb-3">
                        <label class="form-label">Rol del usuario</label>
                       <div class="formulario__grupo-input">
                            <select name="tipoUsuario" id="tipoUsuario" class="form-select " aria-label="Default select example" >
                                <option value="1">Administrador</option>
                                <option value="2">Encargado</option>
                                <option value="3">Enfermera</option>
                            </select>
                        </div>
                    </div>
                     <div class="mb-3" style="display: none" id="selectEspecialidad">
                        <label class="form-label">Especialidad asignada</label>
                       <div class="formulario__grupo-input">
                            <select name="tipoEspecialidad" class="form-select " aria-label="Default select example"s>
                                <option value="1">Ventilado</option>
                                <option value="2">Infante</option>
                                <option value="3">Medicamentos</option>
                                <option value="4">General</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer d-block">
                        <button type="submit" class="btn btn-warning float-end">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Tabla de usuarios</p>
                            <a href="{{url_for('panel.panelCrearUsuario')}}"><button class="btn btn-behance">Crear usuario</button></a><br><br>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="usuariosTable" class="table table-striped table-bordered display expandable-table" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th># Usuario</th>
                                                    <th>Nombre(s)</th>
                                                    <th>Apellido(s)</th>
                                                    <th>Correo</th>
                                                    <th>Telefono</th>
                                                    <th>Numero de documento</th>
                                                    <th>Especialidad</th>
                                                    <th>Ver turnos</th>
                                                    <th>Modificar</th>
                                                    <th>Inactivar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for usuario in usuarios %}
                                                    <tr>
                                                        <td>{{usuario.idUsuario}}</td>
                                                        <td>{{usuario.nombreUsuario}}</td>
                                                        <td>{{usuario.apellidoUsuario}}</td>
                                                        <td>{{usuario.correoUsuario}}</td>
                                                        <td>{{usuario.telefonoUsuario}}</td>
                                                        <td>{{usuario.numeroDocumento}}</td>
                                                        {% if usuario.idEspecialidadFK == 1 %}
                                                            {% set especialidadUsuario = 'Administrador' %}
                                                        {% endif %}
                                                        {% if usuario.idEspecialidadFK == 2 %}
                                                            {% set especialidadUsuario = 'Encargado' %}
                                                        {% endif %}
                                                        {% if usuario.idEspecialidadFK == 3 %}
                                                            {% set especialidadUsuario = 'Enfermera' %}
                                                        {% endif %} 
                                                        {% if usuario.idEspecialidadFK == None %}
                                                            {% set especialidadUsuario = 'Vacio' %}
                                                        {% endif %} 
                                                        <td>{{especialidadUsuario}}</td>
                                                        {% if usuario.idEspecialidadFK == 3 %}
                                                            <td><a href="{{url_for('panel.panelCalendarUsuario', idUsuario=usuario.idUsuario)}}">Calendario</a></td>                                                            
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                        <td><a href="{{url_for('panel.editarUsuario', idUsuario=usuario.idUsuario)}}">Editar</a></td>
                                                        <td><a href="usuarios/inactivar/{{usuario.idUsuario}}">Inactivar</a></td>
                                                    </tr>    
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const tipoUsuario = document.getElementById("tipoUsuario")

        tipoUsuario.addEventListener('change', (event)=> {
          const tipoUsuario = document.getElementById("tipoUsuario").selectedIndex;
          console.log(tipoUsuario);
  
          if (tipoUsuario == 2) {
              document.getElementById("selectEspecialidad").style.display = 'initial';
          } else {
              document.getElementById("selectEspecialidad").style.display = 'none';
          }
  
      })
    </script>

{% endblock main__content %} s