<footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  MediFlow <a href="https://www.bootstrapdash.com/" target="_blank">MediFlow Dashboard</a> for Senasoft 2021. Todos los derechos reservados.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Luis, David & Hector's Team developed with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>