 {% extends 'base.html' %}
{% block title %}
{{ super() }}
 Cambiar contraseña
{% endblock title %}

{% block header_type %}
 {% include 'header.html' %}
{% endblock header_type %}

{% block main__content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container vh-70" style="margin-top:100px; margin-bottom: 100px; margin-left: 37%;">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <img src="../static/img/icon_MediFlow.png" style="max-width: 100px; max-height: 70px; border-radius: 70px;">
                  <br>
                  <h2 class="text-center">Cambiar contraseña</h2>
                  <p>Procura no volver a olvidar tu contraseña.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" action="{{ url_for('auth.cambiarPass') }}" method="POST">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="password" name="passwordUser" placeholder="Nueva contraseña" class="form-control"  type="password">
                        
                        </div>
                        <br>
                        <input id="password" name="passwordUserConfirm" placeholder="Repite tu nueva contraseña" class="form-control"  type="password">

                      </div>
                      <div class="form-group">
                      <br>
                        <input name="recover-submit" class="btn btn-lg btn-success btn-block" value="Cambiar contraseña" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
                    <br><br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
{% endblock main__content %} 

{% block footer_type %} 
    {% include 'footer.html' %}
{% endblock footer_type %}