{% extends 'base.html' %}
{% block title %}
{{ super() }}
 Home Page 
{% endblock title %}
{% block header_type %}
 {% include 'header.html' %}
{% endblock header_type %}

{% block body_type %}
    {{ super() }}
{% endblock body_type %}

{% block main_type %}
{{ super() }}
{% endblock main_type %}

{% block main__content %}

        <section class="hero" id="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ url_for('static', filename='img/slider/portrait-successful-mid-adult-doctor-with-crossed-arms.jpg') }}" class="img-fluid" alt="">
                                    </div>

                                    <div class="carousel-item">
                                        <img src="{{ url_for('static', filename='img/slider/young-asian-female-dentist-white-coat-posing-clinic-equipment.jpg') }}" class="img-fluid" alt="">
                                    </div>

                                    <div class="carousel-item">
                                        <img src="{{ url_for('static', filename='img/slider/doctor-s-hand-holding-stethoscope-closeup.jpg') }}" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="heroText d-flex flex-column justify-content-center">

                                <h1 class="mt-auto mb-2">
                                    Mejora de
                                    <div class="animated-info">
                                        <span class="animated-item">sistema</span>
                                        <span class="animated-item">turnos</span>
                                        <span class="animated-item">control</span>
                                    </div>
                                </h1>

                                <p class="mb-4">MediFlow es un servicio digital que le permite tener control de los turnos de su personal al alcence de la palma de su mano.</p>

                                <div class="heroLinks d-flex flex-wrap align-items-center">
                                    <a class="custom-link me-4" href="#about" data-hover="Click aquí!">Leer más...</a>

                                    <p class="contact-phone mb-0"><i class="bi-phone"></i> 3024358217</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding" id="about">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12">
                            <h2 class="mb-lg-3 mb-3">Un tip por tu salud!</h2>

                            <p>Protéjase y proteja a los demás usando máscaras y lavándose las manos con frecuencia. El exterior es más seguro que el interior para reuniones o eventos. Las personas que se enferman con la enfermedad del coronavirus (COVID-19) experimentarán síntomas leves a moderados y se recuperarán sin tratamientos especiales.
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-5 col-12 mx-auto">
                            <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                                <p class="featured-text"><span class="featured-number">#1</span> Top<br> en control de turnos médicos.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

           

            
            <section class="section-padding pb-0" id="reviews">
<div class="container">
    <div class="accordion d-flex justify-content-center align-items-center height" id="accordionExample">
        <div class="row">
            <div class="col-md-6">
                <div class="p-3">
                    <ul class="testimonial-list">
                        <li>
                            <div class="card p-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="d-flex flex-row align-items-center"> <img src="../static/img/gallery/mujer.jpg" width="50" class="rounded-circle">
                                    <div class="d-flex flex-column ml-2"> <span class="font-weight-normal">Maria Rodriguez</span> <span>Médica general, Hospital</span> </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card p-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="d-flex flex-row align-items-center"> <img src="../static/img/gallery/man.jpg" width="50" class="rounded-circle">
                                    <div class="d-flex flex-column ml-2"> <span class="font-weight-normal">Cristian Alarcon</span> <span>Encargado, Hospital</span> </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card p-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <div class="d-flex flex-row align-items-center"> <img src="../static/img/gallery/mujer2.png" width="50" class="rounded-circle">
                                    <div class="d-flex flex-column ml-2"> <span class="font-weight-normal">Lina Vargas</span> <span>Administradora, Hospital</span> </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 testimonials-margin">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <h4>El mejor sistema de control de turnos en el sector médico</h4>
                            <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            <p>Antes de conocer e implementar MediFlow trabajamos turnos extra, no había una manera efectiva y rápida de llevar un control de los turnos del personal, era muy dificil asignar días vacacionales etc. Pero ahora con MediFlow todo es mas fácil, lo hace todo automáticamente; Es capaz de asignar turnos, organizar horarios y visualizar mediante una interfaz muy intuitiva sus turnos, días vacacionalesy condiciones.</p>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <h4>Gracias por el servicio</h4>
                            <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            <p>Gracias al hecho de haber implmentado MediFlow en nuestro hospital ha sido una de las mayores decisiones que hemos tomado, ya que no solo nos facilita el acceso y gestión de turnos del personal médico, sino que además prestan un gran servicio, en cuanto a tiempos de respuesta y control.</p>
                        </div>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <h4>Lo mejor para optimizar los tiempos!</h4>
                            <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            <p>Antes de obtener MediFlow, el tema de los turnos siempre era un dolor de cabeza para todo el personal, el tema de gestión y control era una total perdida de tiempo, pero ahora gracias a MediFlow ahorramos mucho tiempo, si hay que realizar un cambio dentro de los turnos se cambía sin problemas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </section>

            <section class="section-padding" id="contact">
                <div class="container">
                    <div class="row">
                    
                        <div class="col-lg-8 col-12 mx-auto">
                            <div class="booking-form">
                                
                                <h2 class="text-center mb-lg-3 mb-2">Contáctanos</h2>
                                <p>¿Presentas dudas? o quizás desees enviarnos peticiones quejas o recursos!. Tu opinión es muy importante para nosotros, por ello en el momento que desees puedes hacer click en ¡Enviar! en donde accederas a un formato de correo electrónico para contactarnos, nuetros usuarios son la prioridad número 1 de <span class="text-primary">MediFlow</span> y por eso te atenderemos en cuestión de minutos. </p>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-6 mx-auto">
                                        <button type="submit" class="glow-on-hover" type="button" id="submit-button">Enviar!</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

    <script>
        const buttonContact = document.getElementById("submit-button");

        buttonContact.onclick = function(){
            window.open('mailto:contactoMediFlow@mediflow.com?subject=subject&body=body');
        };
    </script>
{% endblock main__content %} 

{% block footer_type %} 
{% include 'footer.html' %}
{% endblock footer_type %}
