{% extends 'base.html' %}
{% block title %}
{{ super() }}
 Panel de usuario 
{% endblock title %}
{% block header_type %}
 {% include 'headerPanelUsuario.html' %}
{% endblock header_type %}

{% block body_type %}
{% endblock body_type %}

{% block main_type %}
{{ super() }}
{% endblock main_type %}

{% block main__content %}


      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Bienvenido {{nombreUsuario}}</h3>
                  <h6 class="font-weight-normal mb-0">¡Todos los sistemas funcionan sin problemas! ¡Tienes <span class="text-primary">3 alertas sin leer!</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <i class="mdi mdi-calendar"></i> Hoy (21 Oct 2021)
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                      <a class="dropdown-item" href="#">Enero - Marzo</a>
                      <a class="dropdown-item" href="#">Marzo - Junio</a>
                      <a class="dropdown-item" href="#">Junio - Agosto</a>
                      <a class="dropdown-item" href="#">Agosto - Octubre</a>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{{ url_for('static', filename='img/hospital.jpg') }}" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>14<sup>C°</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Bogota</h4>
                        <h6 class="font-weight-normal">Colombia</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Tus visitas hoy</p>
                      <p class="fs-30 mb-2">2</p>
                      <p>1.1% (Aumento)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total de tus visitas (Año)</p>
                      <p class="fs-30 mb-2">4</p>
                      <p>Máximo</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Tus turnos asignados</p>
                      <p class="fs-30 mb-2">11</p>
                      <p>2.00% (Aumento)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Vacaciones</p>
                      <p class="fs-30 mb-2">2</p>
                      <p>Máximo</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 mt-3">
                            <p class="card-title">Reportes detallados</p>
                              <h1 class="text-primary">$2'765.000</h1>
                              <h3 class="font-weight-500 mb-xl-4 text-primary">Colombia</h3>
                              <p class="mb-2 mb-xl-0">Sueldo mensual calculado a partir del número de turnos asignados.</p>
                            </div>  
                            </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                  <table class="table table-borderless report-table">
                                    <tr>
                                      <td class="text-muted">Intensidad laboral</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">85</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Intensidad horaria</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">127</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Turnos completados</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">73</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Sin completar</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">12</h5></td>
                                    </tr>

                                  </table>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                <canvas id="north-america-chart"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Tabla detallada</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="example" class="display expandable-table" style="width:100%">
                          <thead>
                            <tr>
                              <th>Turno#</th>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Fecha</th>
                              <th>Hora</th>
                              <th>Lugar</th>
                              <th>Updated at</th>
                              <th></th>
                            </tr>
                          </thead>
                      </table>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script type="text/javascript">
            function fechaHoy() {
            const fecha = new Date('Oct 20 2021');
            const añoActual = fecha.getFullYear().toString();;
            const hoy = fecha.getDate().toString();;
            const mesActual = fecha.getMonth() + 1; 
            const fechita = hoy+" "+mesActual+" "+añoActual;
            }
            fechaHoy();
        </script>

{% endblock main__content %} 

{% block footer_type %} 
{% include 'footerPanelUsuario.html' %}
{% endblock footer_type %}
