{% extends 'base.html' %}
{% block title %}
{{ super() }}
 Calendario de turnos
{% endblock title %}
{% block header_type %}
 {% include 'headerPanelUsuario.html' %}
{% endblock header_type %}

{% block body_type %}
{% endblock body_type %}

{% block main_type %}
{{ super() }}
{% endblock main_type %}

{% block main__content %}
    <div class="main-panel">
      <div class="content-wrapper">
        <div id='calendar' style='width: 100%;'></div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next,today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          initialDate: '2021-10-22',
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            var title = prompt('Titulo del turno:');
            if (title) {
              calendar.addEvent({
                title: title,
                start: arg.start,
                end: arg.end,
                allDay: arg.allDay
              })
            }
            calendar.unselect()
          },
          eventClick: function(arg) {
            if (confirm('¿Estas seguro de que deseas borrar este turno?')) {
              arg.event.remove()
            }
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: [
            {
              title: 'Turno de todo el día',
              start: '2021-10-22'
            },
            {
              title: 'Turno largo',
              start: '2021-10-20',
              end: '2021-10-20'
            },
            {
              groupId: 999,
              title: 'Turno largo',
              start: '2021-10-21T16:00:00'
            },
            {
              title: 'Turno de todo el día',
              start: '2021-10-22T07:00:00'
            },
            {
              title: 'Click para ir a Google',
              url: 'http://google.com/',
              start: '2021-10-22'
            }
          ]
        });
    
        calendar.render();
      });
    </script>


{% endblock main__content %} 

