{% extends 'base.html' %} {% block title %} {{ super() }} Calendario de turnos
{% endblock title %} {% block header_type %} {% include
'headerPanelUsuario.html' %} {% endblock header_type %} {% block body_type %} {%
endblock body_type %} {% block main_type %} {{ super() }} {% endblock main_type
%} {% block main__content %}
<div class="main-panel">
  <div class="content-wrapper">

    <a href="#"><button class="btn btn-success" style="margin-left: 1200px">
        Generar reporte</button><br /><br/></a>

    <div id="calendar" style="width: 100%"></div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form">
                  <div class="mb-3">
                      <label class="form-label">Correo electrónico</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="email" />
                  </div>
                  <div class="modal-footer d-block">
                      <button type="submit" class="btn btn-warning float-end">Actualizar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<script>
  
</script>

<script>
  function loadData(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText);
          let item = JSON.parse(this.responseText);
      }
    };
    xhttp.open("GET", "http://localhost:5000/panel/calendar/jsonfile", true);
    xhttp.send();
  } 
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    var today = new Date();
    var date =  today.getFullYear()+"-"+(today.getMonth() + 1)+"-"+today.getDate();
    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: "local",
      headerToolbar: {
        left: "prev,next,today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay",
      },
      initialDate: date,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      select: function (arg) {
        Swal.fire({
            title: "Ingrese los detalles del turno:",
            html:
            '<form action="/usuario" method="POST">' +
              '<label class="float-left">Nombre del turno</label>' +
              '<input type="text" id="swal-input1" name="" class="swal2-input" placeholder="Nombre del turno">' +
              '<label class="float-left">Fecha de inicio</label>' +
              '<input type="datetime-local" id="swal-input2" class="swal2-input">' +
              '<label class="float-left">Fecha de fin</label>' +
              '<input type="datetime-local" id="swal-input3" class="swal2-input">'+
              '<button class="btn btn-behance">Crear</button>'+
            '</form>',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Asignar!",
            closeOnConfirm: false,
            closeModal: false,
          }).then((isConfirm, title,horaInicio,horaFin) => {
            title = document.getElementById('swal-input1').value,
            horaInicio = document.getElementById('swal-input2').value,
            horaFin = document.getElementById('swal-input3').value
            if(title){
              calendar.addEvent({
                title: title,
                start: horaInicio,
                end: horaFin  
              });
              console.log(horaInicio+horaFin);
            }
        });
        calendar.unselect();
      },
      eventClick: function (arg) {
        if (confirm("¿Estas seguro de que deseas borrar este turno?")) {
          arg.event.remove();
        }
      },
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      events: [
        {
          title: "Turno de todo el día",
          start: "2021-10-22",
        },
        {
          title: "Turno largo",
          start: "2021-10-20",
          end: "2021-10-20",
        },
        {
          groupId: 999,
          title: "Turno largo",
          start: "2021-10-21T16:00",
        },
        {
          title: "Turno de todo el día",
          start: "2021-10-22T07:00:00",
        },
        {
          title: "Click para ir a Google",
          url: "http://google.com/",
          start: "2021-10-22",
        },
      ],
    });

    calendar.render();
  });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


{% endblock main__content %}
