{% extends 'base.html' %}
{% block title %}
{{ super() }}
 Iniciar sesión
{% endblock title %}

{% block header_type %}
 {% include 'header.html' %}
{% endblock header_type %}

{% block main__content %}
    <div class="container vh-100" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary">Iniciar sesión</h3>
                    </div>
                    <form action="{{ url_for('auth.login') }}" method="POST">
                        <div class="p-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi-person-plus-fill text-white"></i></span>
                                <input name="mailUsuario" type="text" class="form-control" placeholder="Nombre de usuario">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi-key-fill text-white"></i></span>
                                <input name="passUsuario" type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Recordarme
                                </label>
                            </div>                               
                            <div class="text-center">
                            <button class="btn btn-primary text-center mt-3" type="submit" style="align-items: center;">
                                Iniciar sesión
                            </button>
                            <hr>
                        </div>
                            <p class="text-center mt-4">¿No tienes una cuenta?
                                <a href="register" class="text-primary">Registrate</span>
                            </p>
                            <p class="text-center text-primary">¿Olvidaste tu contraseña?</p>
                        </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock main__content %} 

{% block footer_type %} 
    {% include 'footer.html' %}
{% endblock footer_type %}